/test-results
/allure-results
/allure-results-bdd
/allure-results-tdd
/allure-report
/node_modules
node_modules
**/*.test.ts
/.vscode

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
